<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <dict>
                <key>EnablePressuredExit</key>
                <false/>
                <key>EnableTransactions</key>
                <false/>
                <key>Label</key>
                <string>com.example.cryptex.simple-shell</string>
                <!-- By creating the EnvironmentVariables node, we signal to
                     cryptexd that we'd like it to fill in the
                     CRYPTEX_MOUNT_PATH environment variable for us. If we
                     omit this tag, it will not be set.
                -->
                <key>EnvironmentVariables</key>
                <dict>
                    <key>SHELL</key>
                    <string>hello</string>
                </dict>
                <key>ProgramArguments</key>
                <array>
                        <string>/usr/bin/simple-shell</string>
                </array>
                <key>KeepAlive</key>
                <true/>
        </dict>
</plist>
