<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>re.frida.server</string>
	<key>Program</key>
	<string>/usr/bin/frida-server</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/frida-server</string>
		<string>--policy-softener=internal</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>5</integer>
</dict>
</plist>
